/*estilo principal*/
*{/*se eliminan los márgenes y padding por defecto*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*usé el border-box para evitar que los elementos se desborden del viewport o del contenedor - ayuda al responsive*/
}
body{   /*el estilo del body se usó para que los elementos queden uno debajo del otro y para que toda la web tenga la misma fuente*/
    font-family: 'poppins', sans-serif; 
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
/*header: logo y menú*/
}
header{ 
    position: sticky; /*se compone por el header 1 y header 2. Estará en posición sticky - que significa que el menú seguirá el scroll y aparecerá todo el tiempo en pantalla. */
    top: 0; /*el top:0 indica que va a quedar pegado al top del viewport - sin esto el position sticky no funcionaría*/
    border-bottom: 0.5px solid #005DA1; /*el borde en la parte inferior del header es para distinguirlo una vez que se scrolea*/
    z-index: 2;
}
/*este primer header tendrá solamente el logo de la empresa*/
.header1{ /* el header se dividió en 2: Esta primera parte contendrá, en el medio del div, el logo de la empresa - donde el div ocupa el 100% del ancho, y un centrado tanto en el eje x como en el y. El background color elegido es parte de la colorimetría que eligió la empresa*/
    display: flex; /*se usa para poder alinear los elementos dentro del header1*/
    width: 100%; 
    height: auto; /*se adaptará al tamaño de la imagen (100px)*/
    justify-content: center; /*centra el contenido en el eje x*/
    align-items: center; /*centra el contenido en el eje y*/
    background-color: #FDF9F4;
}
header img{ /*se define el tamaño fijo, tanto de alto como de ancho del logo de la empresa.*/
    width: 100px;
    height: 100px;
}
.header2{ /* el header 2 contiene el menú con enlaces + los iconos de redes sociales de la empresa. Todo redirecciona a una web diferente. Los iconos a cada red social, y el menú a la web correspondiente dentro de la página. Es el estilo de un menú básiico, donde los elementos están uno en cada extremo, con enlaces que van directo a las distintas partes de la web*/
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #FDF9F4;
    padding-bottom: 10px; /*padding para que no quede pegado al borde del div*/
}
nav{ /*le da estilo al contenedor principal del menú y una transición suave para el responsive */
    font-size: 14px;
    font-weight: 500;
    transition: top 1s ease; /*transition suave de 1 segundo, que hace efecto cuando se muestra o cierra el menu en responsive*/
}
nav ul{ /*lista del menú (inicio, servicios y contacto) - se le dio un estilo con colores de la marca, quitandole el estilo default*/
    display: flex; 
    padding-right: 30px; /*corresponde al menú - se le agregó un 30px de padding al lado derecho para que no quede pegado al borde*/
    list-style: none; 
    gap: 30px; 
} 
li a{ /* aquí se tomaron solamente los enlaces - para que no tenga ningún estilo más el que le coloqué anteriormente*/
    text-decoration: none;
    color: #005DA1;
}
.abrir, .cerrar{ /*se ocultaron los botones de abrir y cerrar, se activarán en el responsive (ma-widthx:550px)*/
    display: none;
}
.social{ /* En el lado izquierdo de la pantalla podemos encontrar a los íconos sociales, que te llevan a las diferentes redes sociales de la empresa - se encuentran a la izquierda del menú*/
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 30px;
}
.social i{ /* Se le cambió el color y se le puso un tamaño de fuente a los iconos descargados en Fontawsome para que estén acordes al diseño de la página*/
    color: #005DA1;
    font-size: 18px;
    transition: transform 0.5s ease;
}
.social i:hover{
    transform: scale(1.2);
}

/*portada de la página de inicio*/

.portada{ /*es la portada principal, incluye una foto, un h1 y dos botones que redireccionan a enlaces dentro de la web*/
    background-image: url(../Portada/portada5.jpg); /*es una imagen descargada de Unsplash - elegida como portada del sitio web en inicio*/
    width: 100%; /*ocupa todo el ancho disponible de pantalla*/
    height: 600px;/*altura fija de 600px para el desktop*/
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: cover; /*escala la imagen para cubrir sin deformarse*/
    background-position: center top; /*posiciona la imagen al centro de forma horizontal y alineada hacia arriba de forma vertical*/
    text-align: center; 
}
.portada h1{ /* Es el título principal de la portada / es un texto que está en el instagram de la empresa*/
    width: 100%; /*Se le da todo el ancho de la pantalla, con la fuente y el tamaño correspondiente*/
    text-align: center; /*alinea el texto al centro*/
    font-size: 40px;
    text-shadow: #00447A 1px 1px; /* Se le agregó una sombra al texto para que en el javascript destaque el color y se pueda ver sobre la imagen de fondo - se intentó igualmente sin la sombra y no quedaba bien*/
    padding-bottom: 50px;
    animation: mov-titulo 2s ease-in ;
}
.botones{ /* Contenedor de botones en la portada de la web - se le da un diseño adaptabla al responsive*/
    display: flex; /*facilita la alineacion y la organizacion de los elementos que estan dentro de los botones*/
    justify-content: center; /*posiciona al centro del eje x*/
    align-items: center; /*posiciona al centro en el eje y*/
    gap:100px; /*el espacio entre los botones para que no queden pegados entre ellos*/
    flex-wrap: wrap; /*cuando se queda sin espacio, quedarán uno debajo del otro*/
}
 .boton{ /* El estilo que se le aplicó a los botones - se optó por algo sencillo, con los colores principales que propone la empresa. */
    background-color: rgba(0, 93, 161, 0.9); /*paleta de colores de la marca*/
    border: none; /*elimina los bordes por default*/
    padding: 16px 14px; /*espacio interior de los botones*/
    font-size: 16px;
    color: #FDF9F4;
    font-weight: 500;
    cursor: pointer; /*hace que al pasar el cursor sea 'clickeable'*/
    border-radius: 15px; /*crea un borde un poco más moderno, sin caer en el botón por default*/
    text-decoration: none; /*se elimina el estilo de enlace (subrayado y color)*/
    transition: transform 0.5 ease;
 }
 .boton:hover{ /* Para crear un cambio visual, cada vez que pase el cursor por los botones, el color se oscurecerá y se agrandará - con una trnasición de 0.5s */
    color: #F28B32;
    transition: color 0.5s ease;
    transform: scale(1.1);
 }

 /*cuerpo de la página con productos y presentación*/
 
.productos{ /* grilla de 3 columnas que se usarán para crear una caja contenedora de los productos/servicios de la empresa - la alineación y el padding están pensados para el responsive / se intentó hacerlo de varias maneras pero esta forma fue la final para adaptarlo a todos los tamaños*/
    display: grid; /*para una distribucion más estructurada*/
    grid-template-columns:repeat(3, 1fr); /*tres columnas por fila - hace más facil el diseño responsive*/
    gap: 30px; /*espacio de 30px entre las cajas de productos*/
    justify-content: center; /*centran los elementos dentro del grid en el eje horizontal */
    padding: 50px;/*añade espacio interno*/
    background-color: white; /*para hacer un contraste entre el grid y el fondo*/
}
h2.titulo1 { /* 'Nuestros servicios' - Titulo principal de la sección de productos. Se detalla alineación, posicionamiento y estilo del título de la sección: ocupará todo el ancho del grid */
    font-family: 'poppins', sans-serif;
    display: flex; 
    text-align: center; /*centra el texto*/
    justify-content: center; /*centra en el estilo x*/
    align-items: center; /*centra en el estilo y*/
    font-size: 40px; 
    font-weight: 800; /*Como es un titulo, hay que agregarle peso a la fuente*/
    grid-column: 1 / -1; /*Esto se utilizó para que ocupe toda la fila en el grid y quede como título principal de la sección*/
    margin-bottom: 20px;
}
.titulo1 a{ /*se le quita la decoracion de enlace y se le agrega el color principal*/
    text-decoration: none;
    color: #005DA1;
}
.cuadro{ /* Los productos se expondrán en una caja con un tiítulo, una imagen y un texto. Aquí se puede ver la alineación y el estilo de la misma.*/
    display: flex; /*hace que los elementos dentro del cuadro esten mejores estructurados y sea mas fácil estilizarlos*/
    background-color: #FDF9F4;
    border-radius: 15px;
    text-align: center; /*Centra todos los elementos en el cuadro*/
    flex-direction: column; /*Hace que la distribución del contenido sea de forma vertical*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); /*se le agrega una sombra para darle un efecto de caja y que tenga un contraste con el fondo*/
    padding: 20px; /*espacio interno*/
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    cursor: pointer;
}
.cuadro:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /*se tapaba con el menú porque está en position sticky - cambié el z-index del menú a 2 y el del .cuadro a 1*/
}
.circulo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo img{ /* Imagen del producto/servicio destacado - se fija el ancho y el alto, así como también el radio para que sea un círculo. */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.circulo.ampliada img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.cuadro h3{ /* Nombre del producto - estilo y posicionamiento del mismo */
    color: #005DA1;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cuadro p{ /* Texto informativo sobre los productos/servicios - estilo y alineación para que los 3 elementos estén perfectamente ordenados.*/
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 0 10px;
}
.cuadro.oculto h3, .cuadro.oculto p{
    display:none;
}
h2.titulo2 { /* 'Nuestros servicios' - Titulo principal de la sección de productos. Se detalla alineación, posicionamiento y estilo del título de la sección: ocupará todo el ancho del grid */
    font-family: 'poppins', sans-serif;
    display: flex; 
    text-align: center; /*centra el texto*/
    justify-content: center; /*centra en el estilo x*/
    align-items: center; /*centra en el estilo y*/
    font-size: 40px; 
    font-weight: 800; /*Como es un titulo, hay que agregarle peso a la fuente*/
    margin-bottom: 20px;
    color: #005DA1;
}
.titulo2 a{
    text-decoration: none;
    color: #005DA1;
}
.nosotros{ /*Es la segunda sección de la página - "Quienes somos, la estética es igual a la sección anterior, para tener una coherencia en el estilo. Se establece un ancho y un estilo para el div*/
    width: 100%;
    background-color: white;
    padding: 20px;
}
.somos{ /*Es el texto que describe un poco la historia de la empresa / aquí podemos encontrar el estilo, la fuente, la alineación*/
    width: 100%; /*ocupará el 100% del vp*/
    padding: 40px; /* Se le da un padding de 40px para que no esté pegado a los bordes y esté alineado con la sección de arriba */
    font-size: 18px;
    line-height: 1.4;
    color: #005DA1;
    text-align: justify;
}
.somos span{ /*se usó el span para resaltar una parte del texto con un mayor peso en la fuente*/
    display: block; /*lo utilicé para poder centrar el texto*/
    text-align: center; /*lo centra con respecto al texto*/
    font-weight: 700; /*resalta esta parte del texto*/
}
.somos p{ /*espaciado entre distintos p - con padding de 30px para separar elementos*/
    padding-bottom: 30px;
}
.contenedor-footer{ /* Es el contenedor principal del footer / se pone flex para que los elementos se distribuyan de forma horizontal y con space-between para que se alinen uno en cada extremo y los iconos en el medio*/
    display: flex; /*distribución horizontal*/
    width: 100%; /*todo el ancho del viewport*/
    height: 50px;
    justify-content: space-between; /*deja el logo de un lado y los elementos uno en cada extramo*/
    align-items: center; /*centra verticalmente el contenido*/
    background-color: #005DA1;
}
.social2 { /*contenedor con iconos sociales / son los mismos que en el header 1 - se copió y pegó del header*/
    display: flex; /*estarán en linea*/
    align-items: center;
    gap: 20px;
}
.social2 i{ /*se estila a los iconos sociales del header 2 - son iguales a los del header 1*/
    font-size: 18px;
    color: #FDF9F4;
    transition: transform 0.5 ease;
}
.social2 i:hover{
    transform: scale(1.2);
}
.privacidad a{ /* es el estilo para el enlace de políticas de privacidad - estilo similar al header 1 */
    font-size: 14px;
    text-decoration: none;
    color: #FDF9F4;
    font-weight: 500;
    margin-left: 30px;
}
.cookies a{ /* es el estilo para el enlace de políticas de cookies - estilo similar al header 1 */
    font-size: 14px;
    text-decoration: none;
    color: #FDF9F4;
    font-weight: 500;
    margin-right: 30px;
}
 a:hover{ /* Hover general para cualquier enlace, que al pasar el cursor cambiará de color */
    color: #F28B32;
 }

/* media querys - responsive 950px */
@keyframes mov-titulo {
    0% {
    transform: translateX(-100%); /*posicion inicial fuera de la página, a -100%*/
    }
    100% {
    transform: translateX(0); /*posicion final - vuelve a su posicion original (centrada en la web)e*/
    }
 }

@media screen and (max-width: 950px) { /* Media query de hasta 950px */

    .header2{ 
        gap: 10px; /*Esto hará que el header 2, que contiene el menú tenga una menor separación entre los elemnentos*/
    }

    /*Se aplicarán otros valores más bajos para el media query en el nav // tanto la fuente como los espacios serán menores que en el diseño hecho para desktop */

    nav{
        font-size: 13px; /*se reduce la fuente del menu para que esté acorde al tamaño de las pantallas*/
    }
    nav ul{ 
        gap: 20px; /*menor espacio entre los items del menu*/
        padding-right: 20px; /*menor padding del lado derecho*/
    }
    .social{ 
        gap: 10px; /*menor espaciado entre los iconos sociales*/
        padding-left: 20px; /*igual padding pero del lado izquierdo*/
    }
    .social i{ /*Tamaño de fuente de los iconos sociales del header2, que van achicándose a medida que disminuye el tamaño de la pantalla */
        font-size: 16px; /*se achica el tamaño de los iconos para pantallas medianas*/
    }
    .portada{ /*La portada será más pequeña en responsive, donde se irá achicando con el tamaño de la pantalla. Se aplicó otra altura y una transición para que el cambio no sea tan brusco */
        height: 500px;
        background-position: center center;
        transition: all 0.5s ease;
    }
    /* tanto el título como los botones achican su tamaño. La fuente pasando de 40px a 30px, acompañado por la imagen y los botones */
    .portada h1{ 
        font-size: 30px;
        padding: 15px;
    }
    .botones{ /*espacio entre los botones y los elementos de la portada*/
        gap: 40px;
        margin-top: 40px;
    }
    /*Los títulos en la web principal tienen el mismo estilo / espacio / tamaño y peso de fuente, para que ambos se adapten a las pantallas*/

    h2.titulo1 a{ 
        padding-top: 20px;
        font-size: 35px;
        font-weight: 700;
    }
    h2.titulo2{
        padding-top: 20px;
        font-size: 35px;
        font-weight: 700;
    }
    .productos { /* Con el max-width de 950px se podrán ver dos cuadros por fila, en cambio en el desktop se podían ver 3 por fila*/
        grid-template-columns:repeat(2, 1fr);
    }
    .somos{ /* Se comoda el texto para que pueda entrar bien en el reponsive desde 950px a 550px, se modifica la fuente, los márgenes y el tamaño de ancho del div*/
        max-width: 940px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 15px;
    }
    /*Se modifican tamaño de contenedor de footer, modificando margenes, tamaños de fuente y posicionamiento para que se adapten bien al responsive correspondiente */
    .contenedor-footer {
        height: auto; /*la altura se adapta al contenido*/
        flex-wrap: wrap; /*Permitirá que los elementos pasen a otra línea nueva si no entran en la pantalla*/
        padding: 10px 20px; /*espacio interno (arriba/abajo, derecha/izquierda)*/
    }

    /*se adaptan los tamaños a las pantallas medianas*/

    .privacidad a, .cookies a{ 
        font-size: 12px;
        margin: 5px;
    }
    .social2 i{
        font-size: 16px;
    }
}
/* media querys - responsive 550px */

@media screen and (max-width: 550px) { /*Lo utilizo para adaptar el diseño de mi web a telefonos móviles o pantallas pequeñas*/

    /*El menú quedará de forma diferente y se aplicarán modificaciones para que el mismo sea de forma de 'hamburguesa' y tenga sus botones de abrir y cerrar con javascript*/
    .header2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    nav {
        position: fixed; /*Cuando la posición es fixed, hace que este nav esté fijo en la pantalla - se creará el menú interior cuando se abra el menú estilo 'hamburguesa'*/
        top: 146px; 
        left: -100%;
        width: 100%; /*El menú abierto ocupará todo el ancho de la pantalla*/
        height: 100vh; /*Y con esto hace que el menú se vea en toda la pantalla*/
        background-color: rgb(0, 93, 161); /*Color que mantiene una unidad visual con el proyecto*/
        display: flex; /*Se organizan los elementos uno abajo del otro*/
        align-items: flex-start; /*Se posiciona al principio del eje y*/
        padding: 20px; /*Espacio interno*/
        z-index: 1; /*Se coloca el menú por encima de otros elementos en la página, donde generalmente el z-index es 0*/
        transition: left 0.5s ease;
    }
    
    nav.desplegado{ /*Se creó una clase para js / cuando se aplique, el menú aparecerá desde la parte superior del vp */
        left: 0;
    }
    nav ul { /*estilo de la lista del menu*/
        display: flex; 
        width: 100%;
        transition: opacity 0.5s ease, transform 0.5s ease;
        transform: translateY(-100px);
        flex-direction: column; /* Estarán en forma de columna, uno debajo del otro*/
        gap: 40px; /*espacio vertical entre cada item*/
        align-items: center;
        margin-top: 100px; /* Se aplica el margin-top para que el menú no quede pegado al borde de la pantalla*/
        text-align: center;
    }
    /*para agregarle un efecto diferente al menú desplegable, lo que hice fue agregar transiciones al menú de enlaces, para que ingresen de a uno y demorando su entrada */
    
    nav ul a{ /*color de los enlaces del menú desplegable*/
        color: #FDF9F4;
    }
    nav ul li { /*arranca invisible, con opacity 0, fuera de la pantalla*/
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    nav.desplegado ul{ /*para que cuando se abra el menú pueda ingresar con una opacidad 1*/
        opacity: 1;
        transform: translateY(0);
    }
    
    nav.desplegado ul li{
        opacity: 1;
        transform: translateX(0);
    }
    /*cada uno de los enlaces del menú ingresará individualmente con una diferencia de 0.2s, para hacerlo más  dinámico para el usuario*/
    nav.desplegado ul li:nth-child(1){
        transition-delay: 0.2s;
    }
    nav.desplegado ul li:nth-child(2){
        transition-delay: 0.4s;
    }
    nav.desplegado ul li:nth-child(3){
        transition-delay: 0.6s;
    }    
    .abrir{ /*Se muestra el menú 'hamburguesa' que está oculto en el formato desktop*/
        display: block; /*se muestra SOLO en pantallas chicas*/
        width: 40px; /*es el tamaño del boton de hamburguesa*/
        font-size: 24px; /*tamaño del icono del menu*/
        background-color: transparent; /*no tiene fondo, solo el icono con otro color*/
        padding: 2px; /*para que no quede pegado el icono y le de una forma*/
        border-radius: 5px; /*no se ve en un principio, se vera directo en el hover*/
        color: #005DA1;
        border:none; /*sin borde*/
        cursor: pointer; /*hace que el menu sea clickeable*/
        margin-right: 20px;
    }
    .cerrar{ /*Se muestra el icono del boton x (cerrar), que estaba oculto en el css principal en la versión desktop*/
        display: block;
        position: absolute;
        right: 50%;
        z-index: 1;
        background-color: transparent; /*decidí poner el fondo transparente porque he probado con otros estilos y este es el que más me convenció*/
        color: #FDF9F4; /*color igual que el menú*/
        font-size: 25px; /*es un tamaño acorde para que sea visible*/
        cursor: pointer; /*Indica que es un elemento interactivo*/
        border: none; /*venía un borde por defecto y se lo he quitado*/
    }
    .cerrar:hover{ /*Estilo que se le da para cuando pase el mouse por el icono de x, con colores y estilo que acompañan al proyecto*/
        background-color: transparent;
        color: #F28B32;
    }
    .abrir:hover{/*Estilo que se le da para cuando pase el mouse por el icono de 'hamburguesa', con colores y estilo que acompañan al del proyecto*/
        background-color: #005DA1;
        color: #FDF9F4;
    }
    .portada{
        height: 400px; /*Se reduce la altura de la portada para adaptarse a pantallas más pequeñas*/
        background-size: cover; /* Lo utilié para que la imagen cubra el fondo de forma adecuada*/
    }
    .portada h1{
        font-size: 25px; /*Se adecua el tamaño de fuente, pero sin que deje de ser un h1*/
    }
    .botones{
        display: flex; /*Se alinean los botones*/
        gap: 10px;
        flex-wrap: wrap; /*Permitirá que los elementos puedan pasar a una línea nueva si no hay espacio*/
    }
    .boton.uno, .boton.dos{ /*Estilo aplicado a cada botón, para que se adapten a pantallas más chicas*/
        padding: 12px 10px;
        font-size: 14px;
        border-radius: 10px;
    }
    /*Los títulos tienen el mismo estilo / espacio / tamaño y peso de fuente, para que ambos se adapten a las pantallas*/
    h2.titulo1 a{ 
        padding-top: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    h2.titulo2 {
        padding-top: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    .productos { /*La sección de productos se va a dividir a solo 1 caja por 1 fila, con un padding considerable para que se adapte a la pantalla y no queden pegado a los bordes*/
        grid-template-columns:repeat(1, 1fr);
        padding: 15px;
    }
    .somos{
        max-width: 940px; /*Un ancho máximo para no pegar el texto a los bordes de la pantalla*/
        margin: 0 auto; /*Centra de forma horizontal*/
        padding: 0 20px; /*Se le da un padding para ayudar a que el texto no toque los bordes*/
        font-size: 14px;
    }
    .contenedor-footer {
        display: flex;
        flex-wrap: wrap; /*Permite que los elementos pasen a otra linea si no entran en la misma*/
        text-align: center; /*Centra el texto dentro del footer*/
        flex-direction: column; /*Como la pantalla es chica, lo ideal es que los elementos queden uno debajo del otro y eso se hace con column*/
        justify-content: center; /*centra verticalmente los elementos*/
        align-items: center; /*Centra horizontalmente los elementos*/
        height: auto; /*Se adapta al contenido*/
        padding: 10px 20px; /*Lo utilicé para que no quede pegado el contenido entre sí */
    }
    /*se reduce el tamaños de los enlaces e iconos del footer para que se adapten a las pantallas iguales o menores a 550px*/
    .privacidad a, .cookies a { 
        font-size: 12px;
        margin: 5px;
    }
    .social2 i{
        font-size: 14px;
    }
    }
    /*media query de 200px porque los botones salían de la pantalla al reducir tanto la pantalla - para que quede más prolijo se le indicó un display:none */
    @media screen and (max-width: 200px) {
        .botones{
            display: none;
        }
    }
